body{
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 5px;
}
header{
    grid-column: 1/4;
    color: #fff;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.6em;
}
main{
    grid-column: 1/3;
    grid-row: 2/10;
    display: flex;
    align-items: center;
    flex-direction: column;
}
div{
    grid-row:2/10;
    display: flex;
    justify-content: center;
}
footer{
    grid-column: 1/4;
    color: #fff;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.6em;
}
div ul{
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
    text-align: center;
    background-color: lightgrey;

}
div li{
    width: 100%;
    height: 40px;
    vertical-align: middle;
}
div li:hover{
    background-color: darkorange;
}
main p{
    text-indent: 20px;
    padding-left: 10px;
    padding-right: 10px;
}